{
  "lote": 5,
  "status": "pending",
  "file_path": "src/styles/index.css",
  "created_at": "2026-02-27T05:36:30.738Z",
  "file_content": "@import './fonts.css';\n@import './tailwind.css';\n@import './theme.css';\n"
}